{
  "LAVA_HOST": "lavalink host",
  "LAVA_PASS": "lavalink password"
  "LAVA_PORT": 2008,
  "NODE": "production or development",
  "GUILD_DEV": ["guild dev id"],
  "POSTER_ACTIVE": false,
  "PORT": 2003
}