{
  // Lavalink Host
  "LAVA_HOST": "",
  // Lavalink Password
  "LAVA_PASS": "",
  // Lavalink Port
  "LAVA_PORT": 2008,
  // NODE ENV | production or development
  "NODE": "",
  // GUILD DEV development NODE ENV
  "GUILD_DEV": [""]
}